/* class css */
.tag {
	color: #3f729b
}
.info {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 500px;
	text-align: left;
}
.character {
	margin-bottom: 0px;
	background-color: #3c3837;
	color: #bfbfbf;
}

.comment-wrap{
	position: relative;
}