@charset "utf-8";

/* reset */
html,body {
	height: 100%; width: 100%;
}
body,p,h1,h2,h3,select,td,tr,table{
	padding: 0;
	margin: 0;
	font-family: 'Malgun Gothic', sans-serif;
	font-size: 12px;
}
img, fieldset{
	border: 0;
}
ul,ol{
	list-style: none;
}
em,address{
	font-style: normal;
}
a{
	text-decoration: none;
}
a:hover,a:active,a:focus{
	text-decoration: underline;
}

/* style */
.wrap{
	min-height: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
}

.already-login{
	display: none;

}

@media (min-width: 992px){
	.navbar-brand {
		display: none;
	}
	.already-login{
		display: inline-block;
		top: 1%;
		right: 5px;
	}
	.login-item{
		position: absolute;
		right: 10px;
		top: 1%;
	}
}

.navbar-brand-center-logo{
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 크롬이새끼야너는뭐가문젠데 왜 네가 되면 다른브라우저는 안되고 네가 안되면 다른브라우저는 다 되냐고 */

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@media (min-width: 992px){
		.login-item{
			position: absolute;
			right: 10px;
			top: 1%;
		}
	}
	#login-image{
	content: url('./img/btn_google_signin_light_normal_web@2x.png');
	height: 45px;
	}
	#login-image:hover{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_focus_web@2x.png');
	height: 45px;
	}
	#login-image:active{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_pressed_web@2x.png');
	height: 45px;
	}
}

img#login-image{
	content: url('./img/btn_google_signin_light_normal_web@2x.png');
	height: 45px;
}
img#login-image:hover{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_focus_web@2x.png');
	height: 45px;
}
img#login-image:active{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_pressed_web@2x.png');
	height: 45px;
}

@media (min-width: 992px){
	.login-item{
	position: absolute;
	right: 10px;
	top: 1%;
	}
	img#login-image{
	content: url('./img/btn_google_signin_light_normal_web@2x.png');
	height: 45px;
	}
	img#login-image:hover{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_focus_web@2x.png');
	height: 45px;
	}
	img#login-image:active{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_pressed_web@2x.png');
	height: 45px;
	}
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 8px;
    color: #929292;
	text-align: center;
}