/* 배경화면색 & 글씨 기본설정 css */
@charset "utf-8";

body {background: #bfbfbf}
@font-face {
font-family:"KoPub돋움Bold";
src:url("GURU_web_project/reference/src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld Dotum Bold.ttf") format("truetype");
}
@font-face {
font-family:"KoPub돋움Normal";
src:url("GURU_web_project/reference/src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld Dotum Medium.ttf") format("truetype");
}
@font-face {
font-family:"KoPub바탕Bold";
src:url("GURU_web_project/reference/src/fonts/KOPUBWORLD_TTF_FONTS/batang/KoPubWorld Batang Bold.ttf") format("truetype");
}
@font-face { 
font-family:"DXMacaron";  
src:url("GURU_web_project/reference/src/fonts/DXMacaron-KSCpc-EUC-H.ttf") format("truetype");
}
h1 {
	font-family: 'DXMacaron';
	font-size: 40pt;
	color: #3c3837;
}
h2 {
	font-family: 'KoPub바탕Bold';
	font-size: 30pt;
	font-weight: bold;
	color: #3c3837;
}
h3 {
	font-family: 'KoPub돋움';
	font-size: 25pt;
	font-weight: bold;
	color: #3c3837;
}
h4 {
	font-family: 'KoPub돋움';
	font-size: 20pt;
	font-weight: bold;
	color: #3c3837;
}
p {
	font-family: 'KoPub돋움';
	font-size: 15pt;
	font-weight: 400;
	color: #3c3837;
}