@charset "utf-8";

/* reset */
html,body {
	height: 100%; width: 100%; background: #bfbfbf; text-align: center;
}
/*폰트 등록*/
@font-face {
font-family:"KoPub돋움Bold";
src:url("GURU_web_project/reference/src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld Dotum Bold.ttf") format("truetype");
}
@font-face {
font-family:"KoPub돋움Normal";
src:url("GURU_web_project/reference/src/fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld Dotum Medium.ttf") format("truetype");
}
@font-face {
font-family:"KoPub바탕Bold";
src:url("GURU_web_project/reference/src/fonts/KOPUBWORLD_TTF_FONTS/batang/KoPubWorld Batang Bold.ttf") format("truetype");
}
@font-face { 
font-family:"DXMacaron";  
src:url("GURU_web_project/reference/src/fonts/DXMacaron-KSCpc-EUC-H.ttf") format("truetype");
}

body,p,h1,h2,h3,h4,select,td,tr,table{
	padding: 0;
	margin: 0;
	font-family: 'Malgun Gothic', sans-serif;
	font-size: 12px;
	color: #3c3837;
}
h1 {
	font-family: 'DXMacaron';
	font-size: 40px;
	color: #3c3837;
}
h2 {
	font-family: 'KoPub바탕Bold';
	font-size: 30px;
	font-weight: bold;
	color: #3c3837;
}
h3 {
	font-family: 'KoPub돋움Bold','Malgun Gothic', sans-serif;
	font-size: 25px;
	font-weight: bold;
	line-height: 5em;
	color: #3c3837;
}
h4 {
	font-family: 'KoPub돋움Bold','Malgun Gothic', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #3c3837;
}
p {
	font-family: 'KoPub돋움Normal','Malgun Gothic', sans-serif;
	font-size: 15px;
	font-weight: 400;
	color: #3c3837;
}
ul {
	font-family: 'KoPub바탕Bold','Malgun Gothic', serif;
	font-size: 25px;
	font-weight: bold;
	color: #3c3837;
}
img, fieldset{
	border: 0;
}
ul,ol{
	list-style: none;
}
em,address{
	font-style: normal;
}
a{
	text-decoration: none;
}
a:hover,a:active,a:focus{
	text-decoration: underline;
}

/* style */
.wrap{
	min-height: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
}

/*@media (min-width: 992px){
	.navbar-brand {
		display: inline;
	}
}*/

.leftAd {
		display: inline;
	}

.navbar-brand-center-logo{
	position: relative;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logout-small-nav{
	display: none;
}

hr {
	border-top: 3px double #3c3837;
	border-bottom: 3px double #3c3837;
}

ul {
	text-align: center;
}

li .nav-item { 
	padding: 0px 20px
}

/*로고 마진값 조정해서 중앙정렬한 것 문제 생기면 그때 다시 수정하면 됩니다*/
.logo-center {
	margin-right: 330px;
}

/* nav-bar margin-top 간격 조정 */
.navbar {
	margin-top: 30px;
}

/* 탐정 이미지 class 설정 */
.detective {
	width: 400px;
	float: left;
	margin-right: 20px;
}

/* 소개글 왼쪽정렬 */
.introduce {
	line-height: 3em;
	text-align: left;
}

/* 크롬이새끼야너는뭐가문젠데 왜 네가 되면 다른브라우저는 안되고 네가 안되면 다른브라우저는 다 되냐고 */

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@media (min-width: 992px){
		.login-item{
			position: absolute;
			right: 10px;
			top: 20px;
		}
	}
	#login-image{
	content: url('./img/main/google_login.png');
	height: 110px;
	text-align: center;
	}
	/*#login-image:hover{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_focus_web@2x.png');
	height: 45px;
	}
	#login-image:active{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_pressed_web@2x.png');
	height: 45px;
	}*/
}

img#login-image{
	content: url('./img/main/google_login.png');
	height: 45px;
	text-align: center;
}
/*img#login-image:hover{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_focus_web@2x.png');
	height: 45px;
}
img#login-image:active{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_pressed_web@2x.png');
	height: 45px;
}*/

@media (min-width: 992px){
	.login-item{
	position: absolute;
	right: 10px;
	top: 1%;
	}

	.logout-small-nav{
		display: inline-block;
	}

	img#login-image{
	content: url('./img/main/google_login.png');
	height: 110px;
	}
/*	img#login-image:hover{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_focus_web@2x.png');
	height: 45px;
	}
	img#login-image:active{
	animation-delay: 1s;
	content: url('./img/btn_google_signin_light_pressed_web@2x.png');
	height: 45px;
	}*/
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 8px;
    color: #929292;
	text-align: center;
}
