

/* style */
.wrap{
	min-height: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 2em;
	text-align: center;
}

.leftAd {
		display: inline;
	}

.navbar-brand-center-logo{
	position: relative;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logout-small-nav{
	display: none;
}

hr {
	border-top: 3px double #3c3837;
	border-bottom: 3px double #3c3837;
}

ul {
	text-align: center;
}

li .nav-item { 
	padding: 0px 20px
}

/*로고 마진값 조정해서 중앙정렬한 것 문제 생기면 그때 다시 수정하면 됩니다*/
.logo-center {
	margin-right: 330px;
}

/* nav-bar margin-top 간격 조정 */
.navbar {
	margin-top: 30px;
}

/* 탐정 이미지 class 설정 */
.detective {
	width: 400px;
	float: left;
	margin-right: 20px;
}

/* 소개글 왼쪽정렬 */
.introduce {
	line-height: 3em;
	text-align: left;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@media (min-width: 992px){
		.login-item{
			position: absolute;
			right: 10px;
			top: 20px;
		}
	}
	#login-image{
	content: url('./img/main/google_login.png');
	height: 110px;
	text-align: center;
	}
}

img#login-image{
	content: url('./img/main/google_login.png');
	height: 45px;
	text-align: center;
}

@media (min-width: 992px){
	.login-item{
	position: absolute;
	right: 10px;
	top: 1%;
	}

	.logout-small-nav{
		display: inline-block;
	}

	img#login-image{
	content: url('./img/main/google_login.png');
	height: 110px;
	}
}

footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 8px;
    color: #929292;
	text-align: center;
}
