@charset "utf-8";

/*reset*/
html,body {
	height: 100%; width: 100%; background: #bfbfbf; text-align: center;
}
/* 폰트불러오기 */
@font-face {
font-family:"KoPub돋움Bold";
src:url("fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld Dotum Bold.ttf") format("truetype");
}
@font-face {
font-family:"KoPub돋움Normal";
src:url("fonts/KOPUBWORLD_TTF_FONTS/dotum/KoPubWorld Dotum Medium.ttf") format("truetype");
}
@font-face {
font-family:"KoPub바탕Bold";
src:url("fonts/KOPUBWORLD_TTF_FONTS/batang/KoPubWorld Batang Bold.ttf") format("truetype");
}
@font-face { 
font-family:"DXMacaron";  
src:url("fonts/DXMacaron-KSCpc-EUC-H.ttf") format("truetype");
}

/* 폰트설정기본값 */
body,h1,h2,h3,p {
	padding: 0;
	margin: 0;
	font-family: 'Malgun Gothic', sans-serif;
	font-size: 12px;
	color: #3c3837;
}
h1 {
	margin: 10px;
	margin-top: 20px;
	font-family: 'DXMacaron';
	font-size: 40px;
	color: #3c3837;
}
h2 {
	font-family: 'KoPub바탕Bold';
	font-size: 30px;
	font-weight: bold;
	color: #3c3837;
}
h3 {
	font-family: 'KoPub돋움Bold','Malgun Gothic', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #3c3837;
}
h4 {
	font-family: 'KoPub돋움Bold','Malgun Gothic', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #3c3837;
}
p {
	font-family: 'KoPub돋움Normal','Malgun Gothic', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #3c3837;
}

/* class css */
.tag {
	color: #3f729b
}
.info {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 500px;
	text-align: left;
}
.character {
	margin-bottom: 0px;
	background-color: #3c3837;
	color: #bfbfbf;
}