<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>for post detail</title>
	<link rel="stylesheet" href="./css_for_postDetail.css">
</head>
<body>
	<!-- 이름 / 이미지 / 실종 장소 / 실종날짜 / 실종 당시 나이 / 현재 나이 / 세부사항 ------)) 이 순서로!-->
	<h1>이름</h1>
	<img src="src/missing_empty.jpg" alt="이미지는 이렇게 삽입" align="center">
	<div class="info">
	<!-- 실종장소부터는 info 박스로 묶어서 관리! -->
		<h4 class="character">실종장소</h4>
		<p>대한민국 01797 서울시 노원구 화랑로 621</p>
		<h4 class="character">실종날짜</h4>
		<p>2019년 5월 5일</p>
		<!-- 혹시 폼 태그 만들때 날짜로 설정하는 것도 해놨어? 내가 여기 부분은 어떻게 채워야할지 몰라서 일단 p태그로 적용만 해놨어!! -->
		<h4 class="character">실종 당시 나이</h4>
		<p>5살</p>
		<h4 class="character">현재 나이</h4>
		<p>6살</p>
		<h4 class="character">세부사항</h4>
		<p>실종 당시 빨간 목도리를 하고 있었습니다.</p>
		<!-- 내가 폼에서 연동하는 법은 몰라서 일단은 이렇게만 해뒀어! 뒤를 부탁해 상은아 내가 많이 고마워!!! -->
	</div>
</body>
</html>