<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'bootstrap/custom.min.css' %}">
    <link rel="stylesheet" href="{% static '_assets/css/style_base.css' %}">
    <link rel="stylesheet" href="{% static '_assets/css/style_info.css' %}">
    <title>Base</title>
    {% endblock %}
</head>
<body>
{% load socialaccount %}
<!-- nav bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% block nav %}
    <a class="navbar-brand" href="#"><img src="./img/leftAd.png" alt="로고" width="100px" height="50px" ></a>
    <a class="navbar-brand-center-logo" href="{% url 'main' %}"><img src="./img/logo_ver1.png" alt="중간로고" width="100px" height="50px" class="logo-center"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'info' %}">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'service' %}">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">About</a>
            </li>
            <li class="nav-item login-item">
                {% if user.is_authenticated %}
                <ul class="nav nav-pills already-login">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user }}님 안녕하세요.</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Edit</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a>
                        </div>
                    </li>
                </ul>
            <li class="nav-item logout-small-nav">
                    <a class="nav-link logout-small-nav" href="{% url 'account_logout' %}">Log out</a>
            </li>
            {% else %}
            <a class="nav-link" href="{% provider_login_url 'google' %}">
                <img src="none" alt="Sign in with Google" id="login-image"></a>
            {% endif %}
            </li>
        </ul>
    </div>
    {% endblock %}
</nav>

<!-- //navbar -->

<div class="wrap container">
    <div class="jumbotron">
        {% block content%}
        {% endblock %}
    </div>
</div>
<footer>&COPY; 2020 HTML-7 all rights reserved</footer>

<script src="{% static 'bootstrap/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'bootstrap/custom.js' %}"></script>
<!--<script src="./js_base.js"></script>-->

</body>
</html>