{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Page Content -->
<div class="container" id="detail-container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8 mx-auto">
            <!-- Title -->
            <h1 class="mt-4">{{ object.title }}</h1>
            <hr>
            <!-- Preview Image -->
            {% if object.head_image %}
            <img src="{{ object.head_image.url }}" alt="{{ objcet.head_image }}">
            {% else %}
            <img src="{% static '_assets/src/missing_empty.jpg' %}" alt="PlaceHolder">
            {% endif %}
            <hr>
            <h4 class="character">실종장소</h4>
            <p>{{ object.missing_place }}</p>
            <h4 class="character">실종날짜</h4>
            <p id="missing_date">{{ object.missing_date }}</p>
            <h4 class="character">실종 당시 나이</h4>
            <p id="missing_age">{{ object.missing_age }}살</p>
            <h4 class="character">현재 나이</h4>
            <p id="recent_age"></p>
            <h4 class="character">세부사항</h4>
            <p>{{ object.content }}</p>
            <hr>

            <div id="comment-list">
                <!-- Single Comment -->
                {% for comment in object.comment_set.all %}
                <div class="media mb-4" id="comment-id-{{ comment.pk }}">
                    <div class="media-body">
                        {% if comment.author == request.user %}
                        <button class="btn btn-sm btn-primary float-right" onclick="location.href='/blog/edit_comment/{{ comment.pk }}'">edit</button>
                        <button class="btn btn-sm btn-danger float-right" data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">delete</button>
                        {% endif %}
                        <h5 class="mt-0">{{ comment.author }} <small class="text-muted">{{ comment.created_at }}</small> </h5>
                        {{ comment.get_markdown_content | safe }}
                    </div>
                </div>
                {% endfor %}
                <!-- //Single Comment -->
            </div>

            {% for comment in object.comment_set.all %}
            {% if user == comment.author %}
            <!-- Modal -->
            <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you Sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ comment.get_markdown_content | safe }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="location.href='/blog/delete_comment/{{ comment.pk }}/'">Delete</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Modal -->
            {% endif %}
            {% endfor %}

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">댓글</h5>
                <div class="card-body">
                    <form method="post" action="{{ object.get_absolute_url }}new_comment/">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ comment_form | crispy }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <!-- //Comments Form -->

        </div>

        <!-- /.row -->

    </div>
    <!-- /.container -->


    {% endblock %}
