{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{% for tag in object.tags.all %}
<a href="{{ tag.get_absolute_url }}">#{{ tag }} </a>
{% endfor %}
<h2>Post Detail Page</h2>
<h3>{{ object.title }}</h3>
<div class="container">{{ object.get_markdown_content | safe }}

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form method="post" action="{{ object.get_absolute_url }}new_comment/">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form | crispy }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div id="comment-list">
        <!-- Single Comment -->
        {% for comment in object.comment_set.all %}
        <div class="media mb-4" id="comment-id-{{ comment.pk }}">
            <div class="media-body">
                {% if comment.author == request.user %}
                <button class="btn btn-sm btn-primary float-right">edit</button>
                <button class="btn btn-sm btn-danger float-right">delete</button>
                {% endif %}
                <h5 class="mt-0">{{ comment.author }} <small class="text-muted">{{ comment.created_at }}</small> </h5>
                {{ comment.get_markdown_content | safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
