{% extends 'blog/base.html' %}

{% block title %}{{ object.title }} - LostChild{% endblock %}

{% block content %}

<div class="mx-auto">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row col-sm-8 mx-auto">
        <label for="id_title">이름</label>
        <input type="text" class="form-control" name="title"
        placeholder="이름을 입력하세요." required_id="id_title">
        </div>
        <div class="form-group row col-sm-8 mx-auto">
        <label for="id_head_image">사진</label>
        <input type="file" class="form-control-file" name="head_image" required_id="id_head_image">
        </div>
        <div class="form-group row col-sm-8 mx-auto">
        <label for="id_missing_place">실종 장소</label>
        <input type="text" class="form-control" name="missing_place"
        placeholder="실종 장소를 입력하세요." required_id="id_missing_place">
        </div>
        <div class="form-group row col-sm-8 mx-auto">
        <label for="id_missing_date">실종 날짜</label>
        <input type="date" class="form-control" name="missing_date"
        placeholder="2020-12-12" required_id="id_missing_date">
        </div>
        <div class="form-group row col-sm-8 mx-auto">
        <label for="id_missing_age">실종 당시 나이</label>
        <input type="number" class="form-control" name="missing_age"
        placeholder="이름을 입력하세요." required_id="id_missing_age">
        </div>
        <div class="form-group row col-sm-8 mx-auto">
        <label for="id_content">기타 세부 사항</label>
        <textarea class="form-control" name="content" id="id_content" rows="3"></textarea>
        </div>       
        <br>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>
{{ form.media }}
{% endblock %}